{% comment %} Представляет собой краткое
отображение постов в каталоге постов

отрисовывается в цикле for post in posts

Пример поста

{
        "category": "Python",
        "tags": ["основы", "синтаксис", "советы"],
        "slug": "introduction-to-python",
        "title": "Введение в Python",
        "text": ("Python — это высокоуровневый язык программирования с простым синтаксисом и мощными библиотеками. "
                 "Он широко используется для разработки веб-приложений, анализа данных, научных исследований и автоматизации задач. "
                 "Благодаря своей универсальности и поддержке сообщества, Python стал одним из самых популярных языков программирования в мире. "
                 "Кроме того, наличие множества онлайн-курсов и документации делает его отличным выбором для начинающих. "
                 "В этой статье мы рассмотрим основные концепции и примеры использования Python."),
        "author": "Иван Петров",
        "published_date": "2024-06-25",
        "comments": [
            {"author": "Алексей Смирнов", "text": "Отличная статья для новичков!", "date": "2024-06-26"},
            {"author": "Мария Иванова", "text": "Python действительно лучший выбор для начинающих.", "date": "2024-06-27"}
        ]
    }

{% endcomment %}


{% comment %} Представляет собой краткое отображение постов в каталоге постов
отрисовывается в цикле for post in posts {% endcomment %}

{% comment %} Представляет собой краткое отображение постов в каталоге постов отрисовывается в цикле for post in posts {% endcomment %}

<div class="card h-100 mt-3 mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.text|truncatewords:30 }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="me-3"><i class="bi bi-chat-dots"></i> {{ post.comments|length }}</span>
        <span><i class="bi bi-calendar"></i> {{ post.published_date }}</span>
      </div>
      <div>
        <a href="{% url 'post_detail' post.slug %}" class="btn btn-dark d-block d-md-none">
            <i class="bi bi-arrow-right"></i>
        </a>
        <a href="{% url 'post_detail' post.slug %}" class="btn btn-dark d-none d-md-block">
            Читать далее
        </a>
      </div>
    </div>
  </div>
</div>
