body {
  font-size: 1.25rem; /* Размер шрифта */
}

a.btn {
  font-size: 1.1rem; /* Размер шрифта для кнопок */
}

/* Стили тегов */
span.tag {
  background-color: #55606b; /* Темный цвет фона */
  color: #fff; /* Белый цвет текста */
  font-family: monospace;
}

/* Стили для тегов при наведении плавно окрашиваются в темный цвет фона */
span.tag:hover {
  background-color: #343a40; /* Темный цвет фона */
  transition: background-color 1.5s; /* Плавное изменение цвета фона */
}

/* Размер иконок и цвет */
i.bi {
  font-size: 1.5rem;
  color: #343a40;
}
