/* Легкий эффект "всплытия" для карточек При наведении мыши. div.card Небольшое увеличение с анимацией
Увеличение размера на 5% при наведении на карточку. */

div.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
    /* Слабая тень */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}