{% extends "base.html" %}
{% block title %}Блог{% endblock %}
{% block content %}
<h1>Это блог!</h1>
<p>Здесь вы найдете много интересного и полезного!</p>
{% comment %} Поисковая форма BS5 {% endcomment %}
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
{% comment %} Отрисовка постов циклом
Пост представляет post_preview.html {% endcomment %}
{% for post in posts %}
{% include "includes/post_preview.html" %}
{% endfor %}
{% endblock %}

